<html>

  <head>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>

  <!-- Controller -->
  <script src="js/admin_controller.js"></script>

  </head>
  <body ng-app="mainApp" ng-controller="main_controller">

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">UniSecrets</a>
          <ul class="right  ">
            <li><a href="index.html">Landing</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">

      <h2>Pending college activations: {{colleges.length}}</h2>

      <div class="row" ng-repeat="a_college in colleges">
        <div class="col s4">
            <p>{{a_college.college}}</p>
        </div>
        <div class="col s4">
            <p>{{a_college.domain}}</p>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="accept_college(a_college, 1)">Accept</button>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="accept_college(a_college, 0)">Delete</button>
        </div>
      </div>

    </div>
    
    <hr />
    
    <div class="container">

      <h2>Pending posts</h2>
      
      <p ng-show="!pending_posts || pending_posts.length == 0">No pending posts</p>

      <div class="row" ng-repeat="a_post in pending_posts">
        <div class="col s2">
            <p>{{a_post.postid}}</p>
        </div>
        <div class="col s3">
            <p>{{a_post.college}}</p>
        </div>
        <div class="col s3">
            <div ng-bind-html="a_post.text"></div>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="accept_post(a_post, 1)">Accept</button>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="accept_post(a_post, 0)">Delete</button>
        </div>
      </div>

    </div>
    
    
  </body>
</html>
