<html>

  <head>

    <% include partials/scripts %>

    <!-- Controller -->
    <script src="js/activation_controller.js"></script>

  </head>

  <body ng-app="mainApp" ng-controller="main_controller">

    <% include partials/nav %>

    <div class="container">

      <h2>Account activation</h2>

      <p ng-show="account_activated">Success</p>

      <button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="go_to_dashboard()" ng-show="logged_in">Go to dashboard</button>

      <p ng-show="invalid_link">Error, invalid link</p>

    </div>

  </body>
</html>
