<html>
  <head>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom css -->
    <link rel="stylesheet" href="css/common.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Controller -->
    <script src="js/dashboard_controller.js"></script>

  </head>

  <body ng-app="mainApp" ng-controller="main_controller">

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">UniSecrets</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Landing</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <a class="btn-large waves-effect waves-light red right z-depth-3" href="new_post.html">Got something you wanna tell us?</a>

      <h3>Here's the freshest secrets on campus:</h3>

      <br>
      <button class="btn-floating btn-large waves-effect blue z-depth-2"><i class="material-icons">replay</i></button>
      <br>
      <br>
      <div class="secret-list">
        <div ng-repeat="apost in postlist.posts" class="secret-container card-medium z-depth-1">
          <div class="secret-university" style="padding-left:15px">
            <p>Found at: {{apost.college}}</p>
          </div>
          <div class="card-content" style="padding-left:15px">
            <p>{{apost.text}}</p>
          </div>
          <div class="card-action">
            <br>
            <div class="row">
              <div class="col s1 center-align" style="display:inline">
                <a href=""><i class="material-icons">thumb_up</i></a>
                <div class="display:block; float: right">   {{apost.likes}}</div>
              </div>
              <div class="col s1 center-align">
                <a href=""><i class="material-icons">thumb_down</i></a>
                <div class="display:block; float: right">   {{apost.dislikes}}</div>
              </div>
              <div class="col s1 center-align">
                <a href="" ng-click="toggle_post_comments(apost.id)">Comment</a> <!-- TODO -->
                <div class="display:block; float: right">   {{apost.comments.length}}</div>
              </div>
            </div>

            <div class="row post-comments" ng-show="apost.show_comments">
              <div class="col s12">
              
                <div class="post-comment" ng-repeat="acomment in apost.comments">
                  <p><b>{{acomment.nickname}}</b> says: <em>{{acomment.text}}</em></p>
                </div>
              
                <div class="post-comment">
                  <p><b>NicknameHere</b> says: <em>CommentTextHere</em></p>
                </div>
                <div class="post-comment">
                  <p><b>NicknameHere</b> says: <em>CommentTextHere</em></p>
                </div>
                <div class="user-comment">
                  <label>Write a comment below:<input ng-model="user_comment" type="text" class="materialize-textarea"></input></label>
                  <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="post_comment()">Submit comment
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>
