<html>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <body>
    <div class="container">
      <h1>Welcome to UniSecrets!</h1>

      <button ng-click="registration_redirect">Please register to continue</button>
      <button ng-click="signin_redirect">Already have an account? Sign in.</button>

    </div>

  </body>
</html>
